@model Cinema

@{
    ViewData["Title"] = "Details Cinema";
}

<section class="py-5">
    <div class="container py-5">
        <div class="row mb-4 mb-lg-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <p class="fw-bold text-info mb-2">Cinema Details</p>
                <h2 class="fw-bold">Details for @Model.Name</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-xl-4">
                <div class="card">
                    <div class="card-body text-center d-flex flex-column align-items-center">
                        <div class="bs-icon-xl bs-icon-circle bs-icon-info shadow bs-icon my-4">
                            <img id="LogoPreview" class="border-info rounded-circle" style="max-width: 100px" />
                        </div>

                        <div class="mb-3">
                            <label asp-for="Logo" class="control-label"></label>
                            <input asp-for="Logo" class="form-control" readonly />
                            <span asp-validation-for="Logo" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" readonly />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" readonly />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <a class="btn btn-outline-success shadow d-block w-100" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                              
                            }
                            <a class="btn btn-outline-secondary shadow d-block w-100 mt-3" asp-action="Index">Show All Cinemas</a>
                        </div>

                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            var output = document.getElementById('LogoPreview');
            output.src = $("#Logo").val();
        });
    </script>
}
