@model Producer

@{
    ViewData["Title"] = "Delete Producer";
}

<section class="py-5">
    <div class="container py-5">
        <div class="row mb-4 mb-lg-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <p class="fw-bold text-danger mb-2">Delete for @Model.FullName</p>
                <h2 class="fw-bold">Confirm Deletion</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-xl-4">
                <div class="card">
                    <div class="card-body text-center d-flex flex-column align-items-center">
                        <div class="bs-icon-xl bs-icon-circle bs-icon-danger shadow bs-icon my-4">
                            <img id="ProfilePicturePreview" class="border-info rounded-circle" style="max-width: 100px" />
                        </div>

                        <div class="mb-3">
                            <label asp-for="ProfilePictureURL" class="control-label"></label>
                            <input asp-for="ProfilePictureURL" class="form-control" readonly />
                            <span asp-validation-for="ProfilePictureURL" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="FullName" class="control-label"></label>
                            <input asp-for="FullName" class="form-control" readonly />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Bio" class="control-label"></label>
                            <input asp-for="Bio" class="form-control" readonly />
                            <span asp-validation-for="Bio" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <form asp-action="Delete">
                                <input type="hidden" asp-for="Id" />
                                <button type="submit" class="btn btn-outline-danger float-end">Confirm</button>
                            </form>
                            <a class="btn btn-secondary shadow d-block w-100 mt-3 float-end" asp-action="Index">Show All</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $("#ProfilePictureURL").val();
        });
    </script>
}
